In [1]:
from pps import praproses, cek_data_Numerical#, praproses_data_test
import pandas as pd

In [2]:
data_frame0 = pd.read_csv("train.csv")
y = data_frame0['SaleCondition']
data_frame0

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
data_frame_setelah_praproses = praproses(data_frame=data_frame0, data_training=True)

In [4]:
data_frame_setelah_praproses

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition,saleprice
0,1,60,4,65.0,8450,1,0,0,3,1,...,0,0,0,0,0,2,2008,3,2,208500
1,2,20,4,80.0,9600,1,0,0,3,1,...,0,0,0,0,0,5,2007,3,2,181500
2,3,60,4,68.0,11250,1,0,1,3,1,...,0,0,0,0,0,9,2008,3,2,223500
3,4,70,4,60.0,9550,1,0,1,3,1,...,0,0,0,0,0,2,2006,3,5,140000
4,5,60,4,84.0,14260,1,0,1,3,1,...,0,0,0,0,0,12,2008,3,2,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,4,62.0,7917,1,0,0,3,1,...,0,0,0,0,0,8,2007,3,2,175000
1456,1457,20,4,85.0,13175,1,0,0,3,1,...,0,0,4,0,0,2,2010,3,2,210000
1457,1458,70,4,66.0,9042,1,0,0,3,1,...,0,0,2,1,2500,5,2010,3,2,266500
1458,1459,20,4,68.0,9717,1,0,0,3,1,...,0,0,0,0,0,4,2010,3,2,142125
1459,1460,20,4,75.0,9937,1,0,0,3,1,...,0,0,0,0,0,6,2008,3,2,147500

In [5]:
# x_med_false = x_med_false.drop(columns=['id', 'salecondition'])

In [6]:
# data_frame_setelah_praproses

In [7]:
cek_data_Numerical('landcontour', 3)

3:'lvl'

jumlah data 5

In [9]:
# y = data_frame['salecondition']

X = data_frame_setelah_praproses.drop(columns=['id','salecondition','saleprice'])
X

,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,lotconfig,...,3ssnporch,screenporch,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype
0,60,4,65.0,8450,1,0,0,3,1,4,...,0,0,0,0,0,0,0,2,2008,3
1,20,4,80.0,9600,1,0,0,3,1,1,...,0,0,0,0,0,0,0,5,2007,3
2,60,4,68.0,11250,1,0,1,3,1,4,...,0,0,0,0,0,0,0,9,2008,3
3,70,4,60.0,9550,1,0,1,3,1,0,...,0,0,0,0,0,0,0,2,2006,3
4,60,4,84.0,14260,1,0,1,3,1,1,...,0,0,0,0,0,0,0,12,2008,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,4,62.0,7917,1,0,0,3,1,4,...,0,0,0,0,0,0,0,8,2007,3
1456,20,4,85.0,13175,1,0,0,3,1,4,...,0,0,0,0,4,0,0,2,2010,3
1457,70,4,66.0,9042,1,0,0,3,1,4,...,0,0,0,0,2,1,2500,5,2010,3
1458,20,4,68.0,9717,1,0,0,3,1,4,...,0,0,0,0,0,0,0,4,2010,3
1459,20,4,75.0,9937,1,0,0,3,1,4,...,0,0,0,0,0,0,0,6,2008,3

In [22]:
data_frame_test = pd.read_csv("test.csv")
y_true = data_frame_test['SaleCondition']
data_frame_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [46]:
data_frame_test_setelah_praproses = praproses(data_frame=data_frame_test, data_training=True)

data_frame_test_setelah_praproses=data_frame_test_setelah_praproses.drop(columns=['id','salecondition'])

# Training Model

In [47]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=40, random_state=0)
clf.fit(X, y)

y_pred = clf.predict(data_frame_test_setelah_praproses)
print(round(accuracy_score(y_true, y_pred),2)*100)
print(accuracy_score(y_true, y_pred))

90.0
0.8978752570253599

## classification_report

In [48]:
from sklearn.metrics import classification_report
target_names = list(set(y))
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

     adjland       0.22      0.02      0.04        89
      family       1.00      0.12      0.22         8
      normal       0.86      0.50      0.63        12
     partial       0.00      0.00      0.00        26
      alloca       0.90      0.98      0.94      1204
     abnorml       0.90      0.97      0.93       120

    accuracy                           0.90      1459
   macro avg       0.65      0.43      0.46      1459
weighted avg       0.84      0.90      0.86      1459

C:\Users\lufias\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [22]:
# data_frame_test['saleprice']