In [1]:
from pps import praproses
import pandas as pd

In [2]:
data_frame0 = pd.read_csv("test.csv")
data_frame0.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [3]:
x_med_false = praproses(data_frame=data_frame0, data_training=True).head(10)

In [4]:
x_med_false.head(10)

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,screenporch,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition
0,1461,20,1,80.0,11622,2,0,4,2,1,...,120,0,0,4,0,0,6,2010,2,3
1,1462,20,4,81.0,14267,2,0,3,2,1,...,0,0,0,0,1,12500,6,2010,2,3
2,1463,60,4,74.0,13830,2,0,3,2,1,...,0,0,0,4,0,0,3,2010,2,3
3,1464,60,4,78.0,9978,2,0,3,2,1,...,0,0,0,0,0,0,6,2010,2,3
4,1465,120,4,43.0,5005,2,0,3,4,1,...,144,0,0,0,0,0,1,2010,2,3
5,1466,60,4,75.0,10000,2,0,3,2,1,...,0,0,0,0,0,0,4,2010,2,3
6,1467,20,4,67.0,7980,2,0,3,2,1,...,0,0,0,1,3,500,3,2010,2,3
7,1468,60,4,63.0,8402,2,0,3,2,1,...,0,0,0,0,0,0,5,2010,2,3
8,1469,20,4,85.0,10176,2,0,4,2,1,...,0,0,0,0,0,0,2,2010,2,3
9,1470,20,4,70.0,8400,2,0,4,2,1,...,0,0,0,4,0,0,4,2010,2,3