In [1]:
import pandas as pd
from json import load

In [57]:
data_frame0 = pd.read_csv("test.csv")
data_frame0.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [97]:
import pandas as pd
from json import load, dump

# Buka JSON file
try:
    f = open('data_kategorikal_.json',)

    # returns JSON object as 
    # a dictionary
    data_kategorikal_ = load(f)
except:
    data_kategorikal_ = None

try:
    f = open('median_data.json',)
    median_data_ = load(f)
except:
#     print("no mediaa")
    median_data_ = None


def praproses(data_frame, median_data = median_data_, fill_nan_with_median=False, data_training = False):
    # ubah nama kolom menjadi lower
    data_frame.columns= data_frame.columns.str.strip().str.lower()
    
    #membuat median data dari dataframe
    if data_training == True:
        median_data = data_frame.median()
        with open('median_data.json', 'w') as f:
            dump(dict(median_data), f)
    
    #proses merubah data menjadi lower
    #dan merubah null data menjadi median
    for kolom in data_frame.columns:
        try: #yang diubah hanya data yang bertipe string
            data_frame[kolom] = data_frame[kolom].str.lower()
        except: #jika data bukan bertipe string maka akan dilewati (pass)
            if data_training == True:
                data_frame[kolom] = data_frame[kolom].fillna(median_data[kolom])#data median diambil dari line 25
            else:
                if fill_nan_with_median == True:
                    data_frame[kolom] = data_frame[kolom].fillna(median_data[kolom])#data median diambil dari line 13
                else:
                    pass
                pass
            
    #optional, Ubab NaN menjadi NA
    data_frame = data_frame.fillna("NA")
    
    #membuat dictionary untuk mengubah data Kategorikal menjadi numerical
    if data_training == True:
        data_kategorikal = dict()
        for nama_kolom in data_frame.columns:
            
            if nama_kolom != 'id':
#                 print(nama_kolom)
                set_data = list(set(data_frame[nama_kolom]))
#                 print(set_data)
                if type(set_data[0]) == str:
#                     print(nama_kolom)
                    if 'NA' in set_data:
                        set_data[set_data.index('NA')], set_data[0] = set_data[0], set_data[set_data.index('NA')]
                        index_set_data = [i for i in range(len(set_data))]
                    else:
                        index_set_data = [i+1 for i in range(len(set_data))]

                    data_kategorikal[nama_kolom] = dict(zip(set_data,index_set_data))
                else:
                    pass
#                     print(nama_kolom)

            #simpan data di hdd (format json)      
            with open('data_kategorikal_.json', 'w') as f:
                dump(data_kategorikal, f)
                
    #mengubah dataframe menjadi numerical    
        for kolom in data_frame.columns:
            if kolom in data_kategorikal:
                for i in data_kategorikal[kolom]:
                    data_frame[kolom] = data_frame[kolom].replace(i, data_kategorikal[kolom][i])     
    else:
        for kolom in data_frame.columns:
            if kolom in data_kategorikal_:
                for i in data_kategorikal_[kolom]:
                    data_frame[kolom] = data_frame[kolom].replace(i, data_kategorikal_[kolom][i])
    return data_frame

In [98]:
# data_frame0.head(10)
data_frame0 = pd.read_csv("test.csv")
data_frame0.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [99]:
praproses(data_frame=data_frame0, fill_nan_with_median=False, data_training=True).head(10)

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,screenporch,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition
0,1461,20,5,80.0,11622,1,0,1,1,1,...,120,0,0,1,0,0,6,2010,4,2
1,1462,20,4,81.0,14267,1,0,4,1,1,...,0,0,0,0,3,12500,6,2010,4,2
2,1463,60,4,74.0,13830,1,0,4,1,1,...,0,0,0,1,0,0,3,2010,4,2
3,1464,60,4,78.0,9978,1,0,4,1,1,...,0,0,0,0,0,0,6,2010,4,2
4,1465,120,4,43.0,5005,1,0,4,2,1,...,144,0,0,0,0,0,1,2010,4,2
5,1466,60,4,75.0,10000,1,0,4,1,1,...,0,0,0,0,0,0,4,2010,4,2
6,1467,20,4,67.0,7980,1,0,4,1,1,...,0,0,0,2,2,500,3,2010,4,2
7,1468,60,4,63.0,8402,1,0,4,1,1,...,0,0,0,0,0,0,5,2010,4,2
8,1469,20,4,85.0,10176,1,0,1,1,1,...,0,0,0,0,0,0,2,2010,4,2
9,1470,20,4,70.0,8400,1,0,1,1,1,...,0,0,0,1,0,0,4,2010,4,2

In [54]:
x_med_true = praproses(data_frame0, fill_nan_with_median=True, data_training=True).head(10)
x_med_true

,id,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,utilities,...,screenporch,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype,salecondition
0,1461,20,5,80.0,11622,1,0,1,1,1,...,120,0,0,1,0,0,6,2010,4,2
1,1462,20,4,81.0,14267,1,0,4,1,1,...,0,0,0,0,3,12500,6,2010,4,2
2,1463,60,4,74.0,13830,1,0,4,1,1,...,0,0,0,1,0,0,3,2010,4,2
3,1464,60,4,78.0,9978,1,0,4,1,1,...,0,0,0,0,0,0,6,2010,4,2
4,1465,120,4,43.0,5005,1,0,4,2,1,...,144,0,0,0,0,0,1,2010,4,2
5,1466,60,4,75.0,10000,1,0,4,1,1,...,0,0,0,0,0,0,4,2010,4,2
6,1467,20,4,67.0,7980,1,0,4,1,1,...,0,0,0,2,2,500,3,2010,4,2
7,1468,60,4,63.0,8402,1,0,4,1,1,...,0,0,0,0,0,0,5,2010,4,2
8,1469,20,4,85.0,10176,1,0,1,1,1,...,0,0,0,0,0,0,2,2010,4,2
9,1470,20,4,70.0,8400,1,0,1,1,1,...,0,0,0,1,0,0,4,2010,4,2

In [24]:
f = open('median_data.json',)
median_data_ = load(f)
median_data_['mssubclass']

50.0

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 669E-51EC

 Directory of C:\New Github\ProxX

06/19/2021  07:16 AM    <DIR>          .
06/19/2021  07:16 AM    <DIR>          ..
06/19/2021  07:12 AM    <DIR>          .ipynb_checkpoints
06/18/2021  08:20 PM             3,560 data_kategorikal.json
06/18/2021  10:13 PM            81,366 Praproses Data+to_numerical.ipynb
06/18/2021  10:14 AM           451,405 test.csv
06/18/2021  12:09 PM           547,162 test_otput.csv
06/18/2021  06:59 PM           485,102 test_output.csv
06/18/2021  07:00 PM           325,605 test_output_numerical.csv
06/19/2021  07:16 AM             1,656 Untitled.ipynb
               7 File(s)      1,895,856 bytes
               3 Dir(s)   5,798,285,312 bytes free

In [19]:
median_data = data_frame.median()

In [21]:
dict(median_data)

{'id': 2190.0,
 'mssubclass': 50.0,
 'lotfrontage': 67.0,
 'lotarea': 9399.0,
 'overallqual': 6.0,
 'overallcond': 5.0,
 'yearbuilt': 1973.0,
 'yearremodadd': 1992.0,
 'masvnrarea': 0.0,
 'bsmtfinsf1': 350.5,
 'bsmtfinsf2': 0.0,
 'bsmtunfsf': 460.0,
 'totalbsmtsf': 988.0,
 '1stflrsf': 1079.0,
 '2ndflrsf': 0.0,
 'lowqualfinsf': 0.0,
 'grlivarea': 1432.0,
 'bsmtfullbath': 0.0,
 'bsmthalfbath': 0.0,
 'fullbath': 2.0,
 'halfbath': 0.0,
 'bedroomabvgr': 3.0,
 'kitchenabvgr': 1.0,
 'totrmsabvgrd': 6.0,
 'fireplaces': 0.0,
 'garageyrblt': 1979.0,
 'garagecars': 2.0,
 'garagearea': 480.0,
 'wooddecksf': 0.0,
 'openporchsf': 28.0,
 'enclosedporch': 0.0,
 '3ssnporch': 0.0,
 'screenporch': 0.0,
 'poolarea': 0.0,
 'miscval': 0.0,
 'mosold': 6.0,
 'yrsold': 2008.0}